*{
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenido {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label[for="cantidad"],
label[for="celsiusToFahrenheit"],
label[for="fahrenheitToCelsius"] {
    font-weight: bold;
}

label[for="resultado"] {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 15px;
}

span#resultado {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#generar {
    background-color: #0074d9;
}

#limpiar {
    background-color: #f44336;
}