<body>
    <center>
    <img src="/img/logoUpsin.png" alt="">
    <h2>
        Jesus Esteban Morales Niebla
        TCI 7 - 2
    </h2>

    <p>Examen Unidad II : JavaScript</p>

    <h3 id="ejercicio1">Ejercicio 1: Calcular el costo de un boleto</h3>
    <p>
        Contenido de la Ejercicio 1. <br>
        Diseñar un script para calcular el costo de un boleto.
    </p>
    <a href="/html/ejercicio1.html"> Ejercicio 1 </a>

    <h3 id="ejercicio2">Ejercicio 2: Convertidor de grados</h3>
    <p>
        Contenido de la Ejercicio 2. <br>
        Realizar un script para convertir de grados.
    </p>
    <a href="/html/ejercicio2.html"> Ejercicio 2 </a>

    <h3 id="ejercicio3">Ejercicio 3: Generación de manera aleatoria</h3>
    <p>
        Contenido de la Ejercicio 3. <br>
        Realizar un script para generar de manera aleatoria las edades de las 100
        personas.
    </p>
    <a href="/html/ejercicio3.html"> Ejercicio 3 </a>
    </center>
</body>